* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, sans-serif;
}

:root{
    --colorCyan: #c3e2e7;
    --colorDarkGray: #424242;
    --colorLightGray: #7a7979;
}

@media screen and (min-width: 992px) {

    .container{
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
    }

    .cv{
        background-color: #f5f5f5;
        display: flex;
        justify-content: space-between;
    }

    .cv > article{
        /*border: 1px solid red;*/
        border-radius: 20px;
        background-color: var(--colorCyan);
        padding: 30px;
        margin: 20px;
        width: 260px;
    }

    .info__name{
        display: none;
    }

    .content{
        width: calc(100% - 260px);
        padding: 20px;
    }

    .name{
        margin-bottom: 50px;
        color: var(--colorDarkGray);
    }

    .name > h1{
        color: var(--colorCyan);
    }

    .experience__date, .formations__date{
        width: 120px;
        padding-right: 20px;
    }

    .experience__description, .formations__description{
        width: calc(100% - 120px);
    }
}

@media screen and (max-width: 991px){

    .container{
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
    }

    .cv{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .cv > article{
        /*border: 1px solid red;*/
        background-color: var(--colorCyan);
        padding: 30px;
        margin-bottom: 20px;
        width: 100%;
    }

    .info__name{
        margin-bottom: 30px;
        color: var(--colorDarkGray);
    }

    .info__name > h1{
        color: #fff;
    }

    .content{
        width: 100%;
        padding: 20px;
    }

    .name{
        display: none;
    }

    .experience__date, .formations__date{
        width: 80px;
        padding-right: 20px;
    }

    .experience__description, .formations__description{
        width: calc(100% - 80px);
    }
}

.cv article > img{
    width: 100%;
    margin-bottom: 40px;
}

.cv p, h2{
    margin-bottom: 10px;
}

.info > h2{
    border-bottom: 2px solid var(--colorDarkGray);
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.experience > h2, .formations > h2{
    width: 100%;
    border-bottom: 2px solid var(--colorDarkGray);
    padding-bottom: 5px;
    padding-left: 20px;
    color: var(--colorCyan);
}

.experience > h2:before {  content: "💼" }
.formations > h2:before {  content: "🏫" }

.experience__block, .formations__block{
    color: var(--colorLightGray);
    display: flex;
    margin-bottom: 30px;
}

.experience__description, .formations__description > h3{
    color: var(--colorDarkGray);
}